<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuanLyQuanAnEntities" connectionString="metadata=res://*/Model.QuanLyQuanAnModel.csdl|res://*/Model.QuanLyQuanAnModel.ssdl|res://*/Model.QuanLyQuanAnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QUOC-PC\QUOCDO;initial catalog=QuanLyQuanAn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>